@media screen and (max-width: 768px) {
    .management--container {
        border: none;
        float: right;
    }
}

@media screen and (max-width: 1024px) {
    .management--container {
        border: none;
    }
}
