.Nav--right {
    position: fixed;
    top: 24px;
    right: 24px;

    button,
    a {
        border-radius: 50%;
        background-color: #F9F9F9;
        border: none;
        outline: none;
        width: 48px;
        line-height: 48px;
        height: 48px;
        font-size: 18px;
        padding: 0;
        position: relative;
        text-align: center;
        box-shadow: 0px 1px 6px -2px rgba(0,0,0,0.5);
        cursor: pointer;
        transition: background-color .2s, transform .2s;

        svg {
            width: 18px;
            height: 18px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        > .Tooltip {
            opacity: 0;
            transition: ease-in-out clip-path .2s;
            clip-path: circle(0% at 100% 50%);
            pointer-events: none;
        }

        &:hover,
        &:focus {
            transform: scale(1.05);
            background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.05));

            > .Tooltip {
                opacity: 1;
                clip-path: circle(200% at 100% 50%);
            }
        }

        &:active {
            transform: scale(.95);
        }
    }

    .Dropdown {
        position: relative;
        transition: ease-in-out opacity .2s, ease-in-out clip-path .2s;

        > div {
            opacity: 0;
            clip-path: circle(0% at 50% 50%);
            display: flex;
            flex-direction: column;
            pointer-events: none;
            position: absolute;
        }

        > button:focus,
        > a:focus {
            svg {
                fill: #FFF;
            }

            background-color: #19C97D;
        }

        > a:focus + div,
        > button:focus + div,
        > div:hover {
            opacity: 1;
            clip-path: circle(200% at 50% 50%);
            pointer-events: auto;
        }

        a > .Tooltip,
        button > .Tooltip {
            display: inline-block;
            position: absolute;
            color: #FFF;
            padding: 6px 12px;
            line-height: 16px;
            top: 50%;
            transform: translateY(-50%);
            right: 100%;
            white-space: nowrap;
            margin-right: 12px;
            background-color: rgba(0,0,0,.9);
            border-radius: 4px;
            font-size: 13px;
        }
    }

    @media(max-width: 1024px) {

        a > .Tooltip,
        button > .Tooltip {
            opacity: 1;
            clip-path: circle(200% at 100% 50%);
        }
    }


    @media (max-width: 600px) {
        bottom: 6px;
        top: auto;
        right: 18px;

        button, a {
            margin-bottom: 12px;
        }

        .Dropdown > div {
            flex-direction: column-reverse;
            bottom: 100%;
        }
    }
}
